<!DOCTYPE html>
<html>
<head>
    <title>Grid</title>
</head>
<body>
    <form>
        width<input id='width'  name="width" type="number" value="10" step="1" min="1">
        height<input id='height' name="height" type="number" value="10" step="1" min="1">
        <button type="button" onclick="drawGrid(getElementById('width').value, getElementById('height').value)">Generate</button>
        <button type="button" method="POST">Submit</button>
    </form>
    
    <script src="../scripts/main.js"></script>

    <svg id="svg"></svg>


</body>
</html>
